**/*.swp
**/Makefile
**/Makefile.in
**/config.*
**/.deps
**/*.swo

*.swp
src/*.swp
tests/*.swp

*~
src/*~
tests/*~

Makefile
src/Makefile
tests/Makefile

Makefile.in
src/Makefile.in
tests/Makefile.in

config.h
config.h.in
config.log
config.status

src/*.o
tests/*.o

configure
depcomp
install-sh
libtool
missing
compile
stamp-h1
autom4te.cache
test-driver
aclocal.m4
